<html>
<head>

</head>
<body>

<h1>Shares Generator {{country}}</h1>
Generator status: {{generatorStatus}}
<form action="{{generate}}" method="post">
    <label for="duration">Duration in minutes</label>
    <select id="duration" name="duration">
        <option value="1" selected>1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
    </select>

    <br/>
    <label for="updatesPerSec">Generate per second</label>
    <select id="updatesPerSec" name="updatesPerSec">
        <option value="1" selected>1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="20">20</option>
        <option value="30">30</option>
        <option value="40">40</option>
        <option value="50">50</option>
        <option value="100">100</option>
        <option value="200">200</option>
        <option value="300">300</option>
        <option value="400">400</option>
        <option value="500">500</option>
        <option value="1000">1000</option>
        <option value="1500">1500</option>
        <option value="2000">2000</option>
        <option value="2500">2500</option>
        <option value="5000">5000</option>
    </select>

    <br/>
    <label for="concurrentThreads">Concurrent Threads</label>
    <select id="concurrentThreads" name="concurrentThreads">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="5">5</option>
        <option value="10">10</option>
        <option value="15">15</option>
    </select>

    <input type="submit" value="Generate Shares" {{#disabledGenerator}}disabled{{/disabledGenerator}}>
</form>
</body>
</html>